<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd ">
        
	<context:property-placeholder location="classpath:conf.properties" />

	<!-- Database -->
	<bean id="mongo" class="com.idocv.docview.db.AppMongoConn">
		<constructor-arg value="${db.mongodb.ip}" />
		<constructor-arg value="${db.mongodb.port}" />
	</bean>
	<bean id="docviewDb" class="com.idocv.docview.db.DbFactoryBean">
		<property name="mongo" ref="mongo" />
		<property name="name" value="docview" />
	</bean>

</beans>