/**
 * Copyright 2013 I Doc View
 * @author Godwin <godwin668@gmail.com>
 */

/* ---------------------------------------------------------------------- */
/*	Content
/* ---------------------------------------------------------------------- */

	/* -------------------------------------------------- */
	/*	Loading style
	/* -------------------------------------------------- */
	
	.loading-mask {
		position: absolute;
		background-color: whiteSmoke;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2000;
	}
	
	.loading-mask .brand {
		position: absolute;
		width: 100%;
		bottom: 20px;
	}
	
	.loading-mask .loading-zone {
		width: 100%;
		max-width: 300px;
		margin: 100px auto;
	}
	
	.loading-mask .loading-zone .progress {
		height: 13px;
	}
	
	.loading-mask .loading-zone .text {
		text-align: center;
		margin: 5px auto;
	}

	/* -------------------------------------------------- */
	/*	Bootstrap responsive style
	/* -------------------------------------------------- */

	body {
		padding-top: 60px;
		padding-bottom: 40px;
	}
	.sidebar-nav {
		padding: 9px 0;
	}
	
	@media (max-width: 980px) {
		/* Enable use of floated navbar text */
		.navbar-text.pull-right {
			float: none;
			padding-left: 5px;
			padding-right: 5px;
		}
	}

	/* -------------------------------------------------- */
	/*	File upload
	/* -------------------------------------------------- */
	.fileinput-button {
		position: relative;
		overflow: hidden;
		float: left;
		margin-right: 4px;
	}
	.fileinput-button input {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		opacity: 0;
		filter: alpha(opacity=0);
		transform: translate(-300px, 0) scale(4);
		font-size: 23px;
		direction: ltr;
		cursor: pointer;
	}
	
	/* -------------------------------------------------- */
	/*	Header Style
	/* -------------------------------------------------- */
	
	.navbar .brand {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		max-width: 80%;
	}
	
	/* -------------------------------------------------- */
	/*	Search & Highlight
	/* -------------------------------------------------- */
	.highlight {
		background-color: #FFFF88;
	}
	.highlight-selected {
		background-color: darkorange;
	}

	/* -------------------------------------------------- */
	/*	Word Style
	/* -------------------------------------------------- */

	.word-body, .ppt-body {
		background-color:#EBEBEB;
		min-height: 100%;
		-webkit-font-smoothing:antialiased;
		font-smoothing:antialiased;
		text-rendering:optimizeLegibility;
	}

	.word-body table {
		width: auto !important;
	}

	.word-page{
		line-height: normal;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 15px;
		max-width: 795px;
		background-color:#FFF;
		-moz-border-radius: 1px;
		border-radius: 1px;
		-moz-box-shadow: 0 0 10px 5px #888;
		-webkit-box-shadow: 0 0 10px 5px #888;
		box-shadow: 0 0 10px 5px #888;
	}
	
	.word-page .word-content {
		position: relative;
		background-color:#FFF;
		max-width: 75%;
		word-wrap: break-word;
		word-break: break-all;
		margin: 0px auto;
		padding-top: 10%;
		padding-bottom: 10%;
	}
	
	.doc-page .doc-content p{
		word-wrap:break-word;
		word-break:normal;
		margin: 0px;
	}

	/* -------------------------------------------------- */
	/*	PPT Style
	/* -------------------------------------------------- */
	
	.slide-img-container {
		margin: 0 auto;
		bottom: 20px;
		top: 0px;
		right: 5px;
		padding-bottom: 10px;
		position: relative;
		width: 100%;
		text-align: center;
	}

	.slide-img-container img {
		-moz-border-radius: 5px;
		border-radius: 2px;
		-moz-box-shadow: 0 0 10px 3px #888;
		-webkit-box-shadow: 0 0 10px 3px #888;
		box-shadow: 0 0 10px 3px #888;
	}
	
	.slide-img-container-sync {
		margin: 0 auto;
		bottom: 20px;
		top: 0px;
		right: 5px;
		padding-bottom: 10px;
		position: relative;
		width: 100%;
		text-align: center;
	}

	.slide-img-container-sync img {
		-moz-border-radius: 5px;
		border-radius: 2px;
		-moz-box-shadow: 0 0 10px 3px #888;
		-webkit-box-shadow: 0 0 10px 3px #888;
		box-shadow: 0 0 10px 3px #888;
	}
	
	.ppt-thumb-border {
		border: 3px solid darkorange;
	}
	
	.ppt-turn-left-mask, .ppt-turn-right-mask {
		position: absolute;
		width: 50%;
		height: 100%;
		top: 0;
		left: 0px;
		z-index: 500;
		cursor: url("../img/arr_left.cur"), auto;
		display: block;
	}
	.ppt-turn-right-mask {
		left: inherit;
		right: 0;
		cursor: url("../img/arr_right.cur"), auto;
	}
	
	/* -------------------------------------------------- */
	/*	PPT Draw Style
	/* -------------------------------------------------- */
	#cursors{
		position:relative;
	}
	
	#cursors .cursor{
		position:absolute;
		width:15px;
		height:22px;
		background:url('/static/draw/img/pointer.png') no-repeat -4px 0;
	}

	/* -------------------------------------------------- */
	/*	PDF Style
	/* -------------------------------------------------- */
	.pdf-body {
		background-color:#EBEBEB;
		min-height: 100%;
		-webkit-font-smoothing:antialiased;
		font-smoothing:antialiased;
		text-rendering:optimizeLegibility;
	}
	
	.pdf-page{
		line-height: normal;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 15px;
		max-width: 795px;
		background-color:#FFF;
		-moz-border-radius: 1px;
		border-radius: 1px;
		-moz-box-shadow: 0 0 10px 5px #888;
		-webkit-box-shadow: 0 0 10px 5px #888;
		box-shadow: 0 0 10px 5px #888;
		text-align: center;
	}
	
	.pdf-page .pdf-content {
		position: relative;
		background-color:#FFF;
		word-wrap: break-word;
		word-break: break-all;
		margin: 0px auto;
	}

	/* -------------------------------------------------- */
	/*	Table Style
	/* -------------------------------------------------- */

	table {
		border-collapse: collapse;
		word-wrap: break-word;
		margin: 0px auto;
	}
	
	table td {
		text-align: center !important;
	}
	
	/*
	table, tbody, tfoot, thead, tr, th, td {
		border: 1px solid #dddddd !important;
	}
	*/

	/* -------------------------------------------------- */
	/*	Back to Top
	/* -------------------------------------------------- */

	#back-to-top, .touch-device #back-to-top:hover {
		background: url(../img/arrow-up-large.png) no-repeat center center;
		background-color: rgb(221, 221, 221);
		background-color: rgba(221, 221, 221, .7);
		bottom: 20px;
		color: transparent;
		display: none;
		font: 0/0 a;
		height: 46px;
		position: fixed;
		right: 20px;
		text-shadow: none;
		-webkit-transition: all .2s ease;
		   -moz-transition: all .2s ease;
			-ms-transition: all .2s ease;
			 -o-transition: all .2s ease;
				transition: all .2s ease;
		width: 45px;
		z-index: 3000;
	}

		#back-to-top:hover, .touch-device #back-to-top:active { background-color: #f15a23; }
		
	/* -------------------------------------------------- */
	/*	Footer
	/* -------------------------------------------------- */
	footer {
		text-align: center;
	}
	
	/* -------------------------------------------------- */
	/*	Bottom paging progress
	/* -------------------------------------------------- */
	.bottom-paging-progress {
		position: fixed;
		width: 100%;
		bottom: 0px;
		left: 0px;
		margin: 0px auto;
		height: 3px;
	}
	
	.paging-bottom-all {
		border-top: 1px solid #d8d8d8;
		height: 20px;
		position: fixed;
		bottom: 0px;
		left: 0px;
		right: 0px;
		width: 100%;
		cursor: pointer;
	}
	.paging-bottom-sub {
		float: left;
		display: inline-block;
		text-align: center;
		height: 20px;
		font-weight: bold;
		color: green;
	}
	
	/* -------------------------------------------------- */
	/*	Mobile css
	/* -------------------------------------------------- */
	@media (max-width: 767px) {
		.word-body {
			padding-top: 40px;
		}
		.word-page .word-content {
			max-width: 85%;
		}
		/* 取消手机端Word预览左右边距 */	
		.word-body .container-fluid-content {
		    padding-left: 0px;
			padding-right: 0px;
		}
		.word-body, .ppt-body, .pdf-body {
			background-color:#FFF;
		}
		.word-page{
			-moz-box-shadow: 0 0 10px 5px #FFF;
			-webkit-box-shadow: 0 0 0px 0px #FFF;
			box-shadow: 0 0 0px 0px #FFF;
		}
		
		.pdf-body {
			padding-top: 50px;
		}
		.pdf-body .container-fluid-content {
		    padding-left: 0px;
			padding-right: 0px;
		}
	}