/* ---------------------------------------------------------------------- */
/*	Content
/* ---------------------------------------------------------------------- */

	/* -------------------------------------------------- */
	/*	Table Style
	/* -------------------------------------------------- */

	table {
		border-collapse:collapse;
	}
	table, tr, th, td {
		border: 1px solid black;
	}

	/* -------------------------------------------------- */
	/*	Back to Top
	/* -------------------------------------------------- */

	#back-to-top, .touch-device #back-to-top:hover {
		background: url(../img/arrow-up-large.png) no-repeat center center;
		background-color: rgb(221, 221, 221);
		background-color: rgba(221, 221, 221, .7);
		bottom: 20px;
		color: transparent;
		display: none;
		font: 0/0 a;
		height: 46px;
		position: fixed;
		right: 20px;
		text-shadow: none;
		-webkit-transition: all .2s ease;
		   -moz-transition: all .2s ease;
			-ms-transition: all .2s ease;
			 -o-transition: all .2s ease;
				transition: all .2s ease;
		width: 45px;
		z-index: 100;
	}

		#back-to-top:hover, .touch-device #back-to-top:active { background-color: #f15a23; }