/*-------------------------
	Simple reset
--------------------------*/

*{
	margin:0;
	padding:0;
}

#cursors{
	position:relative;
}

#cursors .cursor{
	position:absolute;
	width:15px;
	height:22px;
	background:url('../img/pointer.png') no-repeat -4px 0;
}